<%= render partial: "partials/featured_search" %>

<!-- Top Offers -->
<section class="section-padding homepage-view-offers">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h5 mb-0 text-gray-900">Verified Offers</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
    </div>

    <div class="row">
      <% @featured_offers.each do |offer| %>
      <div class="col-xl-3 col-sm-6">
        <div class="custom-card shadow-sm h-100">
          <div class="custom-card-image">
            <a href="#">
              <%= image_tag offer.main_image.url, size: "255x150", class: "img-fluid item-img" %>
            </a>
            <div class="button-g-btn button-g-btn-up">
              <%= image_tag offer.main_image.url, class: "img-fluid" %>
              <span><%= offer.title %></span>
            </div>
          </div>
          <div class="p-3 pt-4">
            <div class="custom-card-body">
              <h6 class="mb-3"><a class="text-gray-900" href="#"><%= link_to offer.offer_code, offer_path(offer) %></a>
                <p class="text-gray-500"><i class="icofont-clock-time"></i>Ends On: <%= offer.expiration_date %></p>
            </div>
            <div class="custom-card-footer d-flex align-items-center">
              <span class="text-danger"><i class="icofont-sale-discount"></i> 50 % OFF</span><a class="btn btn-sm btn-white ml-auto" href="#"><%= link_to "Get Offer", offer %></a>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Top Stores -->
<section class="section-padding homepage-store-block">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h5 mb-0 text-gray-900">Top Featured Stores</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
    </div>
    <div class="row  align-items-center">
      <% @featured_places.each do |place| %>
      <div class="col-lg-3">
        <div class="owl-carousel owl-theme owl-carousel-four homepage-coupon-carousel">
          <div class="item">
            <div class="custom-card bg-white shadow-sm h-100 stor-card">
              <div class="custom-card-image">
                <div class="member-plan"><span class="badge badge-warning">Gold Member</span></div>
                <a href="#">
                  <%= image_tag place.main_image.url, class: "img-fluid item-img" %>
                </a>
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor"></path>
                  </svg>
                </div>
                <div class="store-star"><span class="badge badge-success"><i class="icofont-star"></i> 3.1</span></div>
              </div>
              <div class="p-3">
                <div class="custom-card-body">
                  <h6 class="mb-0"><a class="text-gray-900" href="#"><%= link_to place.title, place_path(place) %></a></h6>
                  <p class="text-gray-500 mb-2"> <%= place.country %></p>
                  <p class="text-gray-500 mb-0"><span class="text-gray-900">Variety store</span>
                  </p>
                </div>
              </div>
              <div class="p-3 border-top">
                <div class="custom-card-badge">
                  <span class="badge badge-danger"><i class="icofont-sale-discount"></i>
                    OFFER</span> <%= place.offer_code %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Top Coupons -->
<section class="section-padding homepage-coupon">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h5 mb-0 text-gray-900">Top Featured Coupons</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
    </div>
    <div class="row  align-items-center">
      <% @featured_coupans.each do |coupan | %>
      <div class="col-lg-3">
        <div class="owl-carousel owl-theme owl-carousel-four homepage-coupon-carousel">
          <div class="item">
            <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
              <div class="all-coupon">
                <%= image_tag coupan.main_image.url, alt: "Generic placeholder image", class: "mb-3 user-cou-img", style: "width: 55px; height: 55px;" %>
                <h4 class="mt-1 h5 text-gray-900"><%= coupan.title %></h4>
                <h6 class="mb-4 mt-3 pb-2 text-secondary font-weight-normal"><%= link_to coupan.coupon_code, coupan_path(coupan) %></h6>
              </div>
              <div class="mb-0">
                <p class="mb-0 text-danger"><i class="icofont-clock-time"></i> Ends <%= coupan.expiration_date %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Top Other Categories -->
<section class="section-padding homepage-rest-block">
  <h2 class="text-center text-gray-900">TOP CATEGORIES</h2>
  <div class="container">
    <% Category.all.each do |category| %>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <% if category.offers.where(featured: true).exists? %>
      <h1 class="h5 mb-0 text-gray-900"><%= category.name %></h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> View All</a>
    </div>
    <div class="row">
      <% category.offers.where(featured: true).each do |offer| %>
      <div class="col-xl-3 col-sm-6">
        <div class="custom-card shadow-sm bg-white h-100">
          <div class="custom-card-image">
            <a href="#">
              <%= image_tag offer.main_image.url, class: "img-fluid item-img" %>
            </a>
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z" fill="currentColor">
                </path>
              </svg>
            </div>
          </div>
          <div class="p-3">
            <div class="custom-card-body">
              <h6 class="mb-1"><a class="text-gray-900" href="#"><span><%= link_to offer.offer_code, offer_path(offer) %></span></a></h6>
              <p class="text-gray-500 mb-2"><i class="icofont-price"></i> <s>$150</s> <span class="text-gray-600 font-weight-bold">$80</span></p>
            </div>
            <div class="custom-card-badge mt-2">
              <span class="badge badge-success">OFFER</span> <%= offer.offer_instructions %>
            </div>
          </div>
        </div>

      </div>
      <% end %>
      <% end %>
    </div>

    <% end %>
  </div>
</section>