<section class="user-panel-body py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-sm-4">
        <div class="user-panel-body-left">
          <div class="bg-white rounded p-4 mb-4 text-center shadow-sm">
            <%= image_tag '1.png', alt: 'user-profile', class: 'mb-3 mt-2 user-info-img' %>
            <h6 class="text-black mb-2 text-gray-900"><%= current_user.email %></h6>
            <p class="m-0"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="cfb6a0babdaaa2aea6a38fa8a2aea6a3e1aca0a2">[email&#160;protected]</a></p>
            <p class="mb-3">+55 123 456 7789</p>
            <button type="button" class="btn btn-primary btn-block"><i class="icofont-logout"></i>
            Logout</button>
            <p><a><%= link_to 'Edit Profile ', user_profile_show_url, class: "mb-0 mt-3" %></a></p>
          </div>
          <div class="user-panel-sidebar-link mb-4 bg-white rounded shadow-sm overflow-hidden">
            <% current_user.offers.each do |offer| %>
            <% if offer.category.present? %>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
                  <div class="all-coupon">
                    <%= offer.category.name %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-sm-8">
        <div class="user-panel-body-right">
          <div id="mc" class="user-panel-tab-view mb-4">
            <div class="shadow-sm rounded overflow-hidden mb-3">
              <% if @offer.present? && @offer.category.present? && @offer.user == current_user %>
              <div class="p-4 bg-white">
                <h5 class="mb-0 text-gray-900">My <%= @offer.category.name %>
                </h5>
              </div>
              <% end %>
            </div>
            <% if current_user %>
            <% current_user.offers.each do |offer| %>
              <% if offer.category.present? %>
                <div class="col-xl-4 col-md-12 mb-4">
                  <div class="bg-white p-4 shadow-sm text-center h-100 border-radius">
                    <div class="all-coupon">
                      <p>add image here</p>
                      <h4 class="mt-1 h5 text-gray-900"><%= offer.offer_code %></h4>
                      <h6 class="mb-4 mt-3 pb-2 text-secondary font-weight-normal"><%= offer.offer_instructions %></h6>
                    </div>
                    <div class="mb-0">
                      <p class="mb-0 text-info"><i class="icofont-clock-time"></i> Ends <%= offer.expiration_date %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
          </div>


      </div>
    </div>
  </div>
</section>