<%= form_with(model: place) do |form| %>
  <% if place.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :main_image, style: "display: block" %>
    <%= form.file_field :main_image %>
  </div>

  <div>
    <%= form.label :offer_code, style: "display: block" %>
    <%= form.text_field :offer_code %>
  </div>

  <div>
    <%= form.label :offer_instructions, style: "display: block" %>
    <%= form.text_area :offer_instructions %>
  </div>

  <div>
    <%= form.label :expiration_date, style: "display: block" %>
    <%= form.datetime_field :expiration_date %>
  </div>

  <div>
    <%= form.label :opening_time, style: "display: block" %>
    <%= form.time_field :opening_time %>
  </div>

  <div>
    <%= form.label :closing_time, style: "display: block" %>
    <%= form.time_field :closing_time %>
  </div>

  <div>
    <%= form.label :mobile, style: "display: block" %>
    <%= form.text_field :mobile %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.label :shop_number, style: "display: block" %>
    <%= form.text_field :shop_number %>
  </div>

  <div>
    <%= form.label :country %>
    <%= form.select :country_id, options_from_collection_for_select(Country.all, "id", "name"), include_blank: true %>
    
    <%= form.label :state %>
    <%= form.select :state_id, options_from_collection_for_select(State.all, "id", "name"), include_blank: true %>
    
    <%= form.label :city %>
    <%= form.select :city_id, options_from_collection_for_select(City.all, "id", "name"), include_blank: true %>
  </div>

  <div>
    <%= form.label :street, style: "display: block" %>
    <%= form.text_field :street %>
  </div>

  <div>
    <%= form.label :landmark, style: "display: block" %>
    <%= form.text_field :landmark %>
  </div>

  <div>
    <%= form.label :featured, style: "display: block" %>
    <%= form.check_box :featured %>
  </div>

  <div>
    <%= form.label :verified, style: "display: block" %>
    <%= form.check_box :verified %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
