<p style="color: green"><%= notice %></p>
<div class="col-xl-12">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <%= link_to "Edit this Stores", edit_place_path(@place), class: "btn btn-secondary" %>
    <%= link_to "Back to Stores", places_path, class: "btn btn-primary" %>
    <%= button_to "Delete the Store", @place, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
<section class="custom-nav bg-white shadow-sm border-top">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#offers">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#address">Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mo">More Offers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="offer-dedicated-body section-padding">
  <div class="container pt-lg-4">
    <div class="row">
      <div class="col-xl-8 col-sm-12">
        <div class="offer-dedicated-body-left">
          <div class="bg-white shadow-sm rounded p-4 mb-4 sd-card">
            <h5 class="mb-4  text-gray-900">Search Category</h5>
            <form class="sd-card-search mb-4">
              <div class="input-group">
                <input type="text" placeholder="Search for..." class="form-control">
                <div class="input-group-append">
                  <button type="button" class="btn btn-link">
                    <i class="icofont-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <div class="owl-carousel owl-theme owl-carousel-five offers-interested-carousel">
              <div class="item">
                <div class="bg-white rounded shadow-sm overflow-hidden text-center card-s-category-item">
                  <a href="#">
                    <%= image_tag "", class: "img-fluid" %>
                    <h6 class="text-gray-900 my-2">Fashion</h6>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="deal-of-the-day mb-4">
            <%= image_tag @place.main_image.url, class: "img-fluid shadow-sm rounded", height: "930", width: "480" %>
          </div>
          <div>
            <div class="row">
              <div class="col-md-6 col-sm-6 mb-4">
                <a href="#">
                  <div class="card border-0 shadow-sm new-arrivals-card rounded">
                    <div class="card-img">
                      <%= image_tag "o1.png", alt: "Card image cap", class: "card-img-top" %>
                      <span class="new-arrivals">New Arrivals</span>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title font-weight-bold text-gray-900">Contrary to popular
                        belief</h5>
                      <p class="card-text text-muted">It has roots in a piece of classical Latin
                        literature from 45 BC, making it over 2000 years old. Richard McClintock
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div id="about" class="bg-white shadow-sm rounded p-4 mb-4">
            <h5 class="mb-4  text-gray-900">About</h5>
            <p><%= @place.offer_instructions %></p>
            <ul class="dot-list">
              <li><%= @place.offer_code %></li>
              <li>Valid till <a href="#"><%= @place.expiration_date %></a></li>
            </ul>
          </div>
          <div id="eo" class="bg-white rounded shadow-sm p-4 mb-4 coin-tiers-block">
            <button type="button" class="btn btn-success float-right btn-sm"> View All </button>
            <h5 class="mb-3 text-gray-900">Stores</h5>
            <p class="mb-4 col-10 p-0">It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout</p>
            <div class="owl-carousel owl-theme owl-carousel-two owl-carousel-space coin-tiers-carousel">
              <div class="item">
                <div class="custom-card shadow-sm h-100 stor-card">
                  <div class="custom-card-image">
                    <div class="member-plan"><span class="badge badge-gold">Gold Member</span>
                    </div>
                    <a href="#">
                      <img class="img-fluid item-img" src="images/custom-card/1.png">
                    </a>
                    <div class="store-star"><span class="badge badge-success"><i class="icofont-star"></i> 3.1</span></div>
                  </div>
                  <div class="p-3">
                    <div class="custom-card-body">
                      <h6 class="mb-0"><a class="text-gray-900" href="#">Wal-Mart Stores,
                          Inc.</a></h6>
                      <p class="text-gray-500 mb-2"> United Kingdom</p>
                      <p class="text-gray-500 mb-2"><span class="text-black">Variety store</span>
                      </p>
                    </div>
                    <div class="custom-card-badge">
                      <span class="badge badge-danger"><i class="icofont-sale-discount"></i>
                        OFFER</span> Flat 50% on all Stores
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="address" class="bg-white shadow-sm rounded p-4 mb-4">
            <h5 class="mb-4  text-gray-900">Address</h5>
            <p class="mb-3">Dubai, Near <%= @place.landmark %>,
              <%= @place.country %>
            </p>
            <p class="mb-2 text-black"><i class="icofont-phone-circle text-primary mr-2">Call: <%= @place.mobile %></i>
              <br>Shop Number: <%= @place.shop_number %></p>
            <p class="mb-2 text-black"><i class="icofont-email text-primary mr-2"></i>
              youremai<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="432f03242e222a2f6d202c2e">[email&#160;protected]</a>, <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5c2533292e39313d35301c3b313d3530723f3331">[email&#160;protected]</a></p>
            <p class="mb-2 text-black"><i class="icofont-clock-time text-primary mr-2"></i> Today <%= @place.opening_time %>
              – <%= @place.closing_time %>
              <span class="badge badge-success"> OPEN NOW </span>
            </p>
            <hr class="clearfix">
            <div class="address-map">
              <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="170" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
              </div>
            </div>
          </div>
          <h5 id="mo" class="text-gray-900 mb-3">More Offers</h5>
          <div class="owl-carousel owl-theme owl-carousel-three offers-interested-carousel mb-4">
            <div class="item">
              <div class="custom-card shadow-sm bg-white h-100">
                <div class="custom-card-image">
                  <a href="#">
                    <img class="img-fluid item-img" src="images/custom-card/6.png">
                  </a>
                  <div class="button-g-btn button-g-btn-up">
                    <img class="img-fluid" src="images/brand/6.png">
                  </div>
                </div>
                <div class="p-3 pt-4">
                  <div class="custom-card-body">
                    <h6 class="mb-3"><a class="text-gray-900" href="#">Special Offer: Get Up to
                        50% Off On Web Hosting
                      </a>
                    </h6>
                    <p class="text-gray-500 mb-0"><i class="icofont-clock-time"></i> Ends in 18
                      days</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-12">
        <div class="bg-white shadow-sm rounded p-4 mb-4">
          <h5 class="mb-4  text-gray-900">New Stores Deals</h5>
          <div class="border rounded mb-3">
            <div class="media p-3 border-bottom align-items-center">
              <div class="u-avatar">
                <img class="img-fluid rounded w-40" src="images/brand/1.png" alt="Image Description">
              </div>
              <div class="media-body pl-3">
                <h4 class="h6 mb-1 text-gray-900">MakeMyTrip</h4>
                <p class="d-block text-muted m-0">Payment Via RBL Bank</p>
              </div>
            </div>
            <div class="media p-3 align-items-center">
              <div class="u-avatar">
                <small class="mb-1">Ends in 18 days</small>
                <h6 class="m-0 text-danger"><i class="icofont-sale-discount"></i> 50 % OFF</h6>
              </div>
              <div class="media-body pl-3">
                <button type="button" class="btn btn-primary float-right btn-sm">Get Offer</button>
              </div>
            </div>
          </div>
          <div class="border rounded">
            <div class="media p-3 border-bottom align-items-center">
              <div class="u-avatar">
                <img class="img-fluid rounded w-40" src="images/brand/2.png" alt="Image Description">
              </div>
              <div class="media-body pl-3">
                <h4 class="h6 mb-1 text-gray-900">Dominos</h4>
                <p class="d-block text-muted m-0">Payment Via RBL Bank</p>
              </div>
            </div>
            <div class="media p-3 align-items-center">
              <div class="u-avatar">
                <small class="mb-1">Ends in 18 days</small>
                <h6 class="m-0 text-danger"><i class="icofont-sale-discount"></i> 50 % OFF</h6>
              </div>
              <div class="media-body pl-3">
                <button type="button" class="btn btn-primary float-right btn-sm">Get Offer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded shadow-sm mb-4 p-4 upgrade-coin">
          <h5 class="mb-4  text-gray-900">Earning <a class="light-gray" href="#"><i class="icofont-arrow-right light-gray float-right mt-1 icofont-1x"></i></a></h5>
          <div class="upgrade-coin-header clearfix">
            <div class="float-left">
              <h6 class="m-0 text-info"><i class="icofont-money"></i> $5,000</h6>
              <small class="seven-color">START</small>
            </div>
            <div class="float-right text-right pt-1">
              <h6 class="m-0 text-info"><i class="icofont-money"></i> $30,000</h6>
              <small class="seven-color">END</small>
            </div>
          </div>
          <div class="upgrade-coin-footer mt-3 mb-2">
            <div class="upgrade-progress">
              <div class="upgrade-progress-progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="border rounded bg-white shadow-sm p-4 mb-4">
          <h5 class="mb-3 text-gray-900">Top Offers</h5>
          <p class="mb-4 p-0">Established fact that a reader will be distracted by the readable content
            of a page when looking at its layout</p>
          <div>
            <div class="list-design-card active p-3">
              <a href="#">
                <span class="float-right text-info">60% OFF</span>
                <div class="media">
                  <img class="mr-3" src="images/brand/3.png" alt="Generic placeholder image">
                  <div class="media-body">
                    <h6 class="mb-1 text-gray-900">MakeMyTrip</h6>
                    <p class="mb-0 text-gray-500">Ends in 18 days</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="list-design-card active p-3">
              <a href="#">
                <span class="float-right text-info">50% OFF</span>
                <div class="media">
                  <img class="mr-3" src="images/brand/5.png" alt="Generic placeholder image">
                  <div class="media-body">
                    <h6 class="mb-1 text-gray-900">Dominos</h6>
                    <p class="mb-0 text-gray-500">Ends in 1 days</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="list-design-card active p-3 mb-0">
              <a href="#">
                <span class="float-right text-info">60% OFF</span>
                <div class="media">
                  <img class="mr-3" src="images/brand/8.png" alt="Generic placeholder image">
                  <div class="media-body">
                    <h6 class="mb-1 text-gray-900">Amazon</h6>
                    <p class="mb-0 text-gray-500">Ends in 20 days</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="bg-white shadow-sm rounded p-4 mb-4">
          <h5 class="mb-4  text-gray-900">Terms and Conditions</h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
            of classical Latin literature from 45 BC, making it over 2000 years old. Richard
            McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
            more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
            cites of the word in classical literature, discovered the undoubtable source. </p>
        </div>
      </div>
    </div>
  </div>
</section>